{% extends 'base.html.twig' %}

{% block body %}
    <h1>Welcome to Recycle Batteries application</h1>

    <p> Click <a href="{{ path('add_battery') }}">here</a> to add new batteries to the box</p>

    <p>Statistics</p>
    <table border="1">
        <thead>
            <tr>
                <th>Battery type</th>
                <th>Total count</th>
            </tr>
        </thead>
        <tbody>
            {% for item in batteries %}
                <tr>
                    <td>{{ item.type }}</td>
                    <td>{{ item.total }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
